<div class="container mt-2">
    <h1>Report data</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Confirmed</th>
        <th>Recovered</th>
        <th>Active</th>
        <th>Deceased</th>
        <th>Total observation</th>
        <th>Hospital observation</th>
        <th>Home observation</th>
        <th>Hospital today</th>
        <th>District</th>
      </tr>
      </thead>
      <tbody *ngFor="let dt of summary">
        <tr>
          <td>{{dt.Thiruvananthapuram.confirmed}}</td>
          <td>{{dt.Thiruvananthapuram.recovered}}</td>
          <td>{{dt.Thiruvananthapuram.active}}</td>
          <td>{{dt.Thiruvananthapuram.deceased}}</td>
          <td>{{dt.Thiruvananthapuram.total_obs}}</td>
          <td>{{dt.Thiruvananthapuram.hospital_obs}}</td>
          <td>{{dt.Thiruvananthapuram.home_obs}}</td>
          <td>{{dt.Thiruvananthapuram.hospital_today}}</td>
          <td>Thiruvanathapuram</td>
        </tr>
        <tr>
          <td>{{dt.Kollam.confirmed}}</td>
          <td>{{dt.Kollam.recovered}}</td>
          <td>{{dt.Kollam.active}}</td>
          <td>{{dt.Kollam.deceased}}</td>
          <td>{{dt.Kollam.total_obs}}</td>
          <td>{{dt.Kollam.hospital_obs}}</td>
          <td>{{dt.Kollam.home_obs}}</td>
          <td>{{dt.Kollam.hospital_today}}</td>
          <td>Kollam</td>
        </tr>
        <tr>
          <td>{{dt.Pathanamthitta.confirmed}}</td>
          <td>{{dt.Pathanamthitta.recovered}}</td>
          <td>{{dt.Pathanamthitta.active}}</td>
          <td>{{dt.Pathanamthitta.deceased}}</td>
          <td>{{dt.Pathanamthitta.total_obs}}</td>
          <td>{{dt.Pathanamthitta.hospital_obs}}</td>
          <td>{{dt.Pathanamthitta.home_obs}}</td>
          <td>{{dt.Pathanamthitta.hospital_today}}</td>
          <td>Pathanamthitta</td>
        </tr>
        <tr>
          <td>{{dt.Alappuzha.confirmed}}</td>
          <td>{{dt.Alappuzha.recovered}}</td>
          <td>{{dt.Alappuzha.active}}</td>
          <td>{{dt.Alappuzha.deceased}}</td>
          <td>{{dt.Alappuzha.total_obs}}</td>
          <td>{{dt.Alappuzha.hospital_obs}}</td>
          <td>{{dt.Alappuzha.home_obs}}</td>
          <td>{{dt.Alappuzha.hospital_today}}</td>
          <td>Alappuzha</td>
        </tr>
        <tr>
          <td>{{dt.Kottayam.confirmed}}</td>
          <td>{{dt.Kottayam.recovered}}</td>
          <td>{{dt.Kottayam.active}}</td>
          <td>{{dt.Kottayam.deceased}}</td>
          <td>{{dt.Kottayam.total_obs}}</td>
          <td>{{dt.Kottayam.hospital_obs}}</td>
          <td>{{dt.Kottayam.home_obs}}</td>
          <td>{{dt.Kottayam.hospital_today}}</td>
          <td>Kottayam</td>
        </tr>
        <tr>
          <td>{{dt.Idukki.confirmed}}</td>
          <td>{{dt.Idukki.recovered}}</td>
          <td>{{dt.Idukki.active}}</td>
          <td>{{dt.Idukki.deceased}}</td>
          <td>{{dt.Idukki.total_obs}}</td>
          <td>{{dt.Idukki.hospital_obs}}</td>
          <td>{{dt.Idukki.home_obs}}</td>
          <td>{{dt.Idukki.hospital_today}}</td>
          <td>Idukki</td>
        </tr>
        <tr>
          <td>{{dt.Ernakulam.confirmed}}</td>
          <td>{{dt.Ernakulam.recovered}}</td>
          <td>{{dt.Ernakulam.active}}</td>
          <td>{{dt.Ernakulam.deceased}}</td>
          <td>{{dt.Ernakulam.total_obs}}</td>
          <td>{{dt.Ernakulam.hospital_obs}}</td>
          <td>{{dt.Ernakulam.home_obs}}</td>
          <td>{{dt.Ernakulam.hospital_today}}</td>
          <td>Ernakulam</td>
        </tr>
        <tr>
          <td>{{dt.Thrissur.confirmed}}</td>
          <td>{{dt.Thrissur.recovered}}</td>
          <td>{{dt.Thrissur.active}}</td>
          <td>{{dt.Thrissur.deceased}}</td>
          <td>{{dt.Thrissur.total_obs}}</td>
          <td>{{dt.Thrissur.hospital_obs}}</td>
          <td>{{dt.Thrissur.home_obs}}</td>
          <td>{{dt.Thrissur.hospital_today}}</td>
          <td>Thrissur</td>
        </tr>
        <tr>
          <td>{{dt.Palakkad.confirmed}}</td>
          <td>{{dt.Palakkad.recovered}}</td>
          <td>{{dt.Palakkad.active}}</td>
          <td>{{dt.Palakkad.deceased}}</td>
          <td>{{dt.Palakkad.total_obs}}</td>
          <td>{{dt.Palakkad.hospital_obs}}</td>
          <td>{{dt.Palakkad.home_obs}}</td>
          <td>{{dt.Palakkad.hospital_today}}</td>
          <td>Palakkad</td>
        </tr>
        <tr>
          <td>{{dt.Malappuram.confirmed}}</td>
          <td>{{dt.Malappuram.recovered}}</td>
          <td>{{dt.Malappuram.active}}</td>
          <td>{{dt.Malappuram.deceased}}</td>
          <td>{{dt.Malappuram.total_obs}}</td>
          <td>{{dt.Malappuram.hospital_obs}}</td>
          <td>{{dt.Malappuram.home_obs}}</td>
          <td>{{dt.Malappuram.hospital_today}}</td>
          <td>Malappuram</td>
        </tr>
        <tr>
          <td>{{dt.Kozhikode.confirmed}}</td>
          <td>{{dt.Kozhikode.recovered}}</td>
          <td>{{dt.Kozhikode.active}}</td>
          <td>{{dt.Kozhikode.deceased}}</td>
          <td>{{dt.Kozhikode.total_obs}}</td>
          <td>{{dt.Kozhikode.hospital_obs}}</td>
          <td>{{dt.Kozhikode.home_obs}}</td>
          <td>{{dt.Kozhikode.hospital_today}}</td>
          <td>Kozhikode</td>
        </tr>
        <tr>
          <td>{{dt.Wayanad.confirmed}}</td>
          <td>{{dt.Wayanad.recovered}}</td>
          <td>{{dt.Wayanad.active}}</td>
          <td>{{dt.Wayanad.deceased}}</td>
          <td>{{dt.Wayanad.total_obs}}</td>
          <td>{{dt.Wayanad.hospital_obs}}</td>
          <td>{{dt.Wayanad.home_obs}}</td>
          <td>{{dt.Wayanad.hospital_today}}</td>
          <td>Wayanad</td>
        </tr>
        <tr>
          <td>{{dt.Kannur.confirmed}}</td>
          <td>{{dt.Kannur.recovered}}</td>
          <td>{{dt.Kannur.active}}</td>
          <td>{{dt.Kannur.deceased}}</td>
          <td>{{dt.Kannur.total_obs}}</td>
          <td>{{dt.Kannur.hospital_obs}}</td>
          <td>{{dt.Kannur.home_obs}}</td>
          <td>{{dt.Kannur.hospital_today}}</td>
          <td>Kannur</td>
        </tr>
        <tr>
          <td>{{dt.Kasaragod.confirmed}}</td>
          <td>{{dt.Kasaragod.recovered}}</td>
          <td>{{dt.Kasaragod.active}}</td>
          <td>{{dt.Kasaragod.deceased}}</td>
          <td>{{dt.Kasaragod.total_obs}}</td>
          <td>{{dt.Kasaragod.hospital_obs}}</td>
          <td>{{dt.Kasaragod.home_obs}}</td>
          <td>{{dt.Kasaragod.hospital_today}}</td>
          <td>Kasaragod</td>
        </tr>
        <tr></tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{ total }}</td>
          <td> {{ homeTotal }} </td>
          <td> {{ hospitalTodayTotal }} </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="tableToCSV()">Export</button>
    </div>
